html,
body {
    height: 100%;
}

.full-page {
    overflow: hidden;
    min-height: 100%;
    min-width: 960px;
}

.header {
    background-color: lightblue;
    overflow: visible;
    margin: -10px;
    padding: 20px 20px;
}

.header img {
    max-width: 5%;
}

.header .dropdown {
    float: right;
}

.header a {
    color: black;
}

.main {
    display: flex;
}

.column {
    margin: 25px;
}

#sidebar {
    flex: 1;
    border-right: 1px solid black;
    /* For flexbox visibility, remove in final */
}

#map {
    flex: 3;
}

.footer {
    background-color: grey;
    padding-bottom: 250px;
    margin-bottom: -250px;
}

.list-item {
    padding: 3px;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 5px;

    #map {
        flex: 3;
    }

    .footer {
        background-color: grey;
        padding-bottom: 250px;
        margin-bottom: -250px;
    }
