html,
body {
    height: 100%;
}

.full-page {
    overflow: hidden;
    min-height: 100%;
    min-width: 960px;
}

.header {
    background-color: lightblue;
    overflow: visible;
    margin: -10px;
    padding: 20px 20px;
}

.header img {
    max-width: 5%;
}

.header .dropdown {
    float: right;
}

.header a {
    color: black;
}

.main {
    display: flex;
}

#sidebar {
    flex: 1;
    margin: 25px;
    border-right: 1px solid black;
    /* For flexbox visibility, remove in final */
}

#map-container {
    flex: 3;
    margin: 25px
}

#map {
    top: 20%;
    bottom: 0;
    width: 70%;
    position: absolute;
}

.marker {
    background-image: url('../images/red_marker.png');
    background-size: cover;
    width: 35px;
    height: 56px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-top: 5px solid blue;
}

.mapboxgl-popup-content h3 {
    color: blue;
}

.mapboxgl-popup-content p {
    color: green;
}

.footer {
    background-color: grey;
    padding-bottom: 250px;
    margin-bottom: -250px;
}

.list-item {
    padding: 3px;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    background-color: grey;
    padding-bottom: 250px;
    margin-bottom: -250px;
}
